.App {
  text-align: center;
}


.ui.main.container{
  margin-top:9em;
}
 
.ui.sidebar{
  margin-left: 10em;
 }

.p1em{
  padding-bottom: 4em !important; 
  color:blueviolet !important;
  position: relative;
  right: 90px;
  top: 45px;
  
}


.mt1bem{
  margin-top: 15em !important;
  padding: 0;
}

.footer {
  position: relative;
  margin-top: 500px;
  bottom: 0;
  right: 1px;
}

.candidate{
  color:white;
 

}
.jobAdvert{
  color:white;
}
 
.c{
  font-family:Arial, Helvetica, sans-serif;
}

.ft{
  font-size:medium;
  
}
.filtergrid{
  color:brown;
}

.se{
  background-color: white;
}

.logo {
  float: left;
  width: 100px;
  height: 50px;
  margin: 0px 0px;
}

/* .ui.large.inverted.top.fixed.menu{
  background-image: url(./pages/From\ Brand\ New\ To\ Brand\ Advocate_\ Using\ Trello\ For\ Positive\ Customer\ Onboarding.png);
} */

.list.alternate.icon{
  color:white;
}

.ui.celled.table.c{
  border-radius:0% !important;
}

.ui.large.top.fixed.menu{
  background-color: transparent;
  position: absolute;
  box-shadow: 2px 2px 2px grey;
}
.ui.vertical.w100.p1em.menu{
  
  top:50% !important;
 
}

.ft{
  position:absolute;
  left:  0px;
  top: 50px;
}

.footerlocation{
  left:  0px;
  top: 300px;
}


.navbar{
  color:white;
  border-bottom-left-radius: 50%;
  border-bottom-left-radius: 50%;
 
  
}

.w100{
  color:violet !important;
}

.arkaplan{
  background-image: url(./jackson-so-_t-l5FFH8VA-unsplash.jpg)
}

.ui.vertical.w100.p1em.menu{
  margin-top: -200px;
   margin-left: 1000px; 
   border-radius: 7%;
   size:200px;
}

.ui.compact.fluid.vertical.labeled.icon.menu{
  border-radius: 8%;
  margin-top: 70px;
}

.ui.celled.table.c{
  margin-top: 60px;
}

.content.candidate{
  margin-top: 80px;
}

.navbutton{
  margin-right: 20px !important;
}

.ui.primary.button{
  background-color: purple !important;
}
.ui.danger.button{
  background-color: transparent !important;
}


