.App {
  text-align: center;
}


.ui.main.container{
  margin-top:9em;
}
 
.ui.sidebar{
  margin-left: 10em;
 }

.p1em{
  padding-bottom: 2em !important; 
  color:blueviolet !important;
  position: relative;
  right: 90px;
  top: 45px;
  
}


.mt1bem{
  margin-top: 15em !important;
  padding: 0;
}

.footer {
  position: relative;
  margin-top: 500px;
  bottom: 0;
  right: 1px;
}

.candidate{
  color:white;
 

}
.jobAdvert{
  color:white;
}
 
.c{
  font-family:Arial, Helvetica, sans-serif;
}

.ft{
  font-size:medium;
  
}
.filtergrid{
  color:brown;
}

.se{
  background-color: white;
}

.logo {
  float: left;
  width: 100px;
  height: 50px;
  margin: 0px 0px;
}

/* .ui.large.inverted.top.fixed.menu{
  background-image: url(./pages/From\ Brand\ New\ To\ Brand\ Advocate_\ Using\ Trello\ For\ Positive\ Customer\ Onboarding.png);
} */

.list.alternate.icon{
  color:white;
}

.ui.celled.table.c{
  border-radius:0% !important;
}

.ui.large.top.fixed.menu{
  background-color: transparent;
}
.ui.vertical.w100.p1em.menu{
  
  top:50% !important;
 
}

.ft{
  position:absolute;
  left:  0px;
  top: 50px;
}

.footerlocation{
  left:  0px;
  top: 300px;
}


.navbar{
  color:white;
  border-bottom-left-radius: 50%;
  border-bottom-left-radius: 50%;
  
  box-shadow: 10px 10px 5px grey;
  
}

.w100{
  color:violet !important;
}









